<h1>listando os usuários de usuário</h1>
<div class="container">
    {{#each users}}
    <div class="item">
        <p>{{this.name}} - {{this.ocuppation}} - {{this.newsLatter}} </p>
    </div>

    {{/each}}

</div>