<h1>pessoas cadastradas</h1>
<div class="pessoa-conatiner">
    <table class="titulo">
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>IDADE</th>
        </tr>
    </table>
    {{#each pessoas}}
    <div>
        <table>
  
            <tr>
                <td>{{this.id_pessoa}}</td>
                <td>{{this.nome}}</td>
                <td>{{this.idade}}</td>
            </tr>
  
        </table>
    </div>
    {{/each}}
</div>