<h1>Post de usuário</h1>
<form class="form" action="/usuario/create" method="post" >
    <div class="form-control">
        <label for="nome">Nome</label>
        <input type="text" name="nome" placeholder="digite seu nome">
    </div>
    <div class="form-control">
        <label for="idade">idade</label>
        <input type="number" name="idade" placeholder="digite sua idade">
    </div>
    <input type="submit" value="cadastrar">

</form>